.admin-layout {
  .button-action {
    border-width: 2px !important;
    padding: 6px 24px;
    font-weight: 600;
  }

  .button-cancel {
    font-size: 14px !important;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-confirm {
    font-size: 16px !important;
    font-weight: 600;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .table-action-button {
    --el-button-text-color: var(--primary-blue);
    --el-button-hover-text-color: var(--primary-blue-hover);
    --el-button-hover-link-text-color: var(--primary-blue-hover);
    font-size: 14px;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
