.transfer-message {
  textarea {
    background-color: #f2f2f2;
    color: #8e8e8e;
    border: 1px solid #8e8e8e;
    width: 350px;
    outline: none;
    resize: none;
    padding: 10px;
    margin-top: 15px;
  }
}
