.admin-layout {
  //input
  .el-input,
  .el-input__wrapper {
    --el-input-inner-height: 38px;
    --el-component-size: 38px;
    height: 38px;
  }

  // select
  .el-select {
    .el-select__wrapper {
      min-height: 38px;
    }
    &--small {
      .el-select__wrapper {
        min-height: 30px;
      }
    }
  }

  // tabs
  .el-tabs--border-card {
    border: none;
  }
  .el-tabs__header {
    background: transparent;
    border: none;
    padding: 20px 20px 0 20px;
    .el-tabs__item {
      font-size: 14px;
      font-weight: 600;
      border: none;
      border-bottom: 4px solid transparent;
      &.is-active {
        border-bottom: 4px solid var(--secondary-purple);
      }
    }
  }

  // date-picker
  .el-date-editor {
    height: 38px;
  }

  // table
  .el-table {
    color: #4e5969;
    & td {
      height: 50px;
    }
  }

  .el-table__header {
    & tr {
      background-color: transparent !important;
    }
    & thead {
      background-color: #f7f8fa;
      color: #4e5969;
      font-size: 14px;
      height: 58px;
    }
    // & .el-table__cell {
    //   background-color: transparent !important;
    // }
  }

  // card
  .el-card {
    box-shadow: none;
    border: 0;
    background-color: transparent;
  }

  .card-header {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 30px;
    &-title {
      display: flex;
      align-items: center;
      gap: 10px;
      &-icon {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .card-summary {
    &-item {
      display: flex;
      align-items: center;
      gap: 5px;
      &-label {
        color: #8e8e8e;
        font-size: 14px;
      }
      &-value {
        font-size: 16px;
        font-weight: 600;
        color: var(--primary-purple);
      }
    }
  }

  .card-toolbar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #595959;
    font-size: 14px;
  }

  // pagination
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
}
