@font-face {
  font-family: FedExSans;
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/FedExSans_W-Light.woff) format('woff');
}

@font-face {
  font-family: FedExSans;
  font-style: italic;
  font-weight: 300;
  src: url(../assets/fonts/FedExSans_W-Light-Italic.woff) format('woff');
}

@font-face {
  font-family: FedExSans;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/FedExSans_W-Regular.woff) format('woff');
}

@font-face {
  font-family: FedExSans;
  font-style: italic;
  font-weight: 400;
  src: url(../assets/fonts/FedExSans_W-Italic.woff) format('woff');
}

@font-face {
  font-family: FedExSans;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/FedExSans_W-Medium.woff) format('woff');
}

@font-face {
  font-family: FedExSans;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/FedExSans_W-Bold.woff) format('woff');
}

@font-face {
  font-family: FedExSans;
  font-style: italic;
  font-weight: 700;
  src: url(../assets/fonts/FedExSans_W-Bold-Italic.woff) format('woff');
}
