@mixin scrollbar {
  &::-webkit-scrollbar-track-piece {
    background-color: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #99a9bf;
    border-radius: 20px;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
