::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 20px;
  position: absolute;
}

::-webkit-scrollbar-track {
  width: 6px;
  background-color: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
