.navbar {
  height: var(--navbar-height);
  overflow: hidden;
  position: relative;
  background-color: #f8f8f8;
  // box-shadow: 0 1px 4px rgba(0, 21, 41, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px 0 20px;
}

.right-menu {
  margin-left: auto;
}
